/* Variables */
:root {
    --color-principal: #333333;
    --color-secundario: rgb(71, 71, 71);
    --fuente: Century Gothic;
}
* {
    padding: 0;
    margin: 0;
    font-family: var(--fuente);
    font-style: #000;
}

body {
    width: 100%;
}

.header {
    position: fixed;
    background-color: var(--color-principal);
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: 140px;
    z-index: 10;
}
.logo {
    max-width: 110px;
    margin-left: 50px;
}
.nav {
    display: flex;
    align-items: center;
    width: 25%;
    margin-right: 50px;
}

.nav-ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.nav-ul-li {
    list-style-type: none;
    margin-top: 2px;
}

.nav-ul-li a {
    color: #fff;
    text-decoration: none;
}

.nav-ul-li a:hover {
    color:#828385;
    transition-duration: 0.3s;
}

h1 {
    padding-top: 140px;
    position: relative;
    padding-bottom: -140px;
    max-width: 1350px;
    margin: 0 auto;
}

main {
    max-width: 1350px;
    margin: 0 auto;
}